#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* ========================= MAIN LAYOUT ========================= */

.main-layout {
  display: flex;
  height: 100vh;
  background-color: var(--background);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
  color: var(--text-primary);
}
